.availability-popup__backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 160px 20px 20px;
  background: rgba(0, 0, 0, 0.30);
}

.availability-popup__backdrop[hidden] {
  display: none;
}

.availability-popup {
  position: relative;
  width: 970px;
  max-width: 100%;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  padding: 32px 40px 8px 40px;
  border-radius: 32px;
  background: var(--White, #FFF);
}

.availability-popup__header {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.availability-popup__title {
  margin: 0;
  color: var(--Dark-Brown, #36080A);
  font-family: "Almoni Neue", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.availability-popup__title-divider {
  width: 1px;
  height: 16px;
  background-color: var(--Dark-Brown, #36080A);
}

.availability-popup__product-name {
  color: var(--Dark-Brown, #36080A);
  font-family: "Almoni Neue DL 4.0 AAA", "Almoni Neue", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.availability-popup__notice {
  display: flex;
  align-items: center;
  background-color: #FFF4E0;
  border-radius: 12px;
  border: 1px solid rgba(195, 129, 0, 0.08);
  width: 100%;
  gap: 6px;
  padding: 14px 22px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.availability-popup__notice-text {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.availability-popup__notice-label,
.availability-popup__notice-message {
  color: var(--Dark-Brown, #36080A);
  font-family: "Almoni Neue DL 4.0 AAA", "Almoni Neue", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.availability-popup__notice-label {
  font-weight: bold;
}

.availability-popup__notice-message {
  font-weight: 400;
}

.availability-popup__notice-icon {
  margin-left: 6px
}

.availability-popup__close {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 767px) {
  .availability-popup__backdrop {
    padding: 16px;
  }

  .availability-popup {
    max-height: calc(100vh - 32px);
    padding: 24px 20px;
    border-radius: 24px;
  }
}
