.product-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  gap: 16px;
  padding: 16px 20px;
  margin-inline: -20px;
  margin-top: -16px;
  margin-bottom: 16px;
  background-color: var(--White, #FFF);
  z-index: 10;
}

.product-header__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-header__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.product-header__title {
  font-family: "Almoni Neue DL 4.0 AAA";
  margin: 0;
  color: var(--Dark-Brown, #36080A);
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}

@media (min-width: 768px) {
  .product-header {
    padding-inline: 48px;
    margin-inline: -48px;
  }
}

@media (min-width: 1440px) {
  .product-header {
    padding-inline: 240px;
    margin-inline: -240px;
  }
}
